
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 animated fadeIn">Comic's Apps</h1>
 <h5 class="animate__animated animate__fadeInDown">Esta es una aplicación de comics.</h5>
 <p class="animated fadeIn">
  Sumérgete en el fascinante mundo de los superhéroes más emblemáticos de los cómics con nuestra página dedicada 
  a los héroes de Marvel y DC. Aquí encontrarás una enciclopedia de personajes fascinantes, 
  cada uno con su propio conjunto de habilidades, historias épicas y un legado que ha capturado la imaginación de 
  millones de fans en todo el mundo.
</p>

    </div>
  </div>
  <div class="alert alert-primary" role="alert">
    Este es un taller de Tecnologías Web!
  </div>
